{%extends "base.html" %} {% load static %} {%block content%}

<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="{% static 'base/img/intro-carousel/1.jpg'%}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 >Welcome to the Alumni Social Network</h2>
                            <p style="font-size:25px">
                                Be a part of a network comprosing of {{no_of_alumnis}} alumnis from {{no_of_colleges}} Colleges. Sign up now and be a part of the massive community of fellow alumni an colleges.
                            </p>
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'alumni-profile' request.user.id%}" class="btn-get-started scrollto">Your Profile</a>
                            {% else %}
                            <a href="{% url 'alumni_signup' %}" class="btn-get-started scrollto">Register Yourself</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="{%static 'base/img/intro-carousel/2.jpg'%}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Stay in contact of your College</h2>
                            <p style="font-size:25px">
                                Discover what your college is up to. Stay one click away from your Alma Matter.
                            </p>
                            {% if request.user.is_authenticated %}
                            <a href="#" class="btn-get-started scrollto">Current Events</a>
                            {% else %}
                            <a href="{% url 'alumni_signup' %}" class="btn-get-started scrollto">Register Yourself</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="{%static 'base/img/intro-carousel/3.jpg'%}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Find old batchmates.</h2>
                            <p style="font-size:25px">
                                Miss your batchmates? Can't find their contact number. Find it right here. All your friends can be found right here.
                            </p>
                            {% if request.user.is_authenticated %}
                            <a href="#" class="btn-get-started scrollto">Chat Section</a>
                            {% else %}
                            <a href="{% url 'alumni_signup' %}" class="btn-get-started scrollto">Register Yourself</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="{%static 'base/img/intro-carousel/4.jpg'%}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Officially Supported</h2>
                            <p style="font-size:25px">
                                This network is officially supported, and built for you through an initiative from Govt. of Goa.
                            </p>
                            {% if request.user.is_authenticated %}
                            <a href="#" class="btn-get-started scrollto">Donate To Your College</a>
                            {% else %}
                            <a href="{% url 'alumni_signup' %}" class="btn-get-started scrollto">Register Yourself</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="{%static 'base/img/intro-carousel/5.jpg'%}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Participate in events from your college</h2>
                            <p style="font-size:25px">
                                Monitor events in your college, Participate in events, interact with juniors.
                            </p>
                            {% if request.user.is_authenticated %}
                            <a href="#" class="btn-get-started scrollto">Current Events</a>
                            {% else %}
                            <a href="{% url 'alumni_signup' %}" class="btn-get-started scrollto">Register Yourself</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section>
<!-- #intro -->

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>About The Network</h3>
                <p>
                    This is an initiative from the BWLU to connect all the alumnis passing out from Colleges inside universities and other aided colleges. Colleges greatly benefit from this network as it makes connecting with their alumni much easier. Alumni can easily connect
                    with their alma matter. Smooth flow of information between alumni and college is the utmost priority.
                </p>
                <div class="row about-cols">

                    <div class="col-md-4 wow fadeInUp">
                        <div class="about-col">
                            <div class="img">
                                <img src="{%static 'base/img/about-mission.jpg'%}" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                            </div>
                            <h2 class="title"><a href="#">Step 1</a></h2>
                            <p>
                                Sign-up now by going to the alumni sign-up page. Choose a username and password.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="about-col">
                            <div class="img">
                                <img src="{%static 'base/img/about-plan.jpg'%}" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-list-outline"></i></div>
                            </div>
                            <h2 class="title"><a href="#">Step 2</a></h2>
                            <p>
                                Complete your profile details. Add your work, photo, bio for easy verification from the college.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="about-col">
                            <div class="img">
                                <img src="{% static 'base/img/about-vision.jpg' %}" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                            </div>
                            <h2 class="title"><a href="#">Step 3</a></h2>
                            <p>
                                Monitor your college and participate in events conducted by your college.
                            </p>
                        </div>
                    </div>

                </div>

        </div>
</main>

{%endblock content%}